
<h1><%= @user.username + '\'s budget summary' %></h1>

<div class="userShowWeekBudget">
  <h2>Week Budget</h2>
  <%= show_week_budget_summary(@user) %>
</div>


<div class="userShowMonthBudget">
  <h2>Month Budget</h2>
  <%= show_month_budget_summary(@user) %>
</div>

<div class="userExpenditures">
  <h2>Recent Expenditures</h2>
  <%= show_expenditures(@user) %>
</div>
