@import 'variables.scss';

$form-label-color: #FFFFF1;

body {
  background-color: #B7E7FF;
  font-family: $font-stack;
  height: 100%;
}

// Headers and section labels
a, h1 {
  color: white;
}

h2, h3, p {
  color: $text-color;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}