@import 'variables.scss';

$form-label-color: #FFFFF1;

body {
  background-color: #B7E7FF;
  font-family: $font-stack;
}

// Nav and body positioning
.app-body-outer {
  display: table;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

.app-body-middle {
  display: table-cell;
  vertical-align: middle;
}

.app-body-middle div:first-child {
  max-width: 600px;
  margin: 0 auto;
}

// Headers and section labels
h1 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 0.6em;
}

h2, h3 {
  color: $text-color;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}