$text-color: #707070;
$form-label-color: #FFFFF1;

body {
  background-color: #B7E7FF;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
}

// Nav and body positioning
.nav-bar {
  background-color: #88CCFB;
  height: 4.2em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.top-nav {
  border-bottom: 1px solid white;
  top: 0px;
}

.nav-bar-inner {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.nav-bar-inner div {
  display: table-cell;
  height: 4.5em;
  text-align: center;
}

.top-nav-inner div:nth-child(2) {
  border-left: 1px solid white;
}

// .flash-message {
//   color: white;
//   line-height: 4.5em;
//   vertical-align: center;
// }

.app-body {
  margin-bottom: 4.5em;
  margin-top: 4.5em;
  text-align: center;
}

.app-body-outer {
  display: table;
  position: absolute;
  height: 100%;
  margin-top: -4.5em;
  width: 100%;
}

.app-body-middle {
  display: table-cell;
  vertical-align: middle;
}

.bottom-nav {
  border-top: 1px solid white;
  bottom: 0px;
}

.bottom-nav-inner div:first-child {
  border-right: 1px solid white;
}

.bottom-nav-inner div:nth-child(3) {
  border-left: 1px solid white;
}

// Icon stylings
.nav-bar-inner div a i, .flash-message {
  color: white;
  line-height: 4.5em;
  vertical-align: center; 
}

// Headers and section labels
h1 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 0.6em;
}

h2, h3 {
  color: $text-color;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

// Form stylings
input {
  background-color: #FFFFEB;
  border-radius: 2px;
  height: 1.7em;
}

.form-field {
  margin: 0 auto;
  width: 60%;
}

input[type=text], input[type=password] {
  position: relative;
  width: 100%;
}

input

.form-field h4 {
  color: $text-color;
  position: relative;
  text-align: center;
}