@import '../base/variables.scss';

.app-body-outer {
  display: table;
  padding-bottom: 4.6em;
  padding-top: 4.6em;
  position: absolute;
  height: 100%;
  left: 10%;
  right: 0;
  width: 100%;
}

.app-body-middle {
  display: table-cell;
  vertical-align: middle;
}

.app-body-middle div:first-child {
  max-width: 600px;
  margin: 0 auto;
}