@import '../base/variables.scss';

.form-field, .form-checkbox {
  margin-bottom: 2em;
  margin-left: 0;
  width: 40%;
}

input {
  background-color: #FFFFEB;
  border-radius: 10px;
  color: #5272BB;
  height: 2.5em;
}
input[type=text], input[type=password] {
  padding-left: 7%;
  margin-bottom: 1px;
  width: 100%;
}

.landing-page input[type=submit] {
  width: 15%;
}

.user-new input[type=submit], .budget-new input[type=submit], .budget-edit input[type=submit] {
  width: 30%;
}

.form-field h4 {
  color: $text-color;
  margin-left: 7%;
}