@import '../base/variables.scss';
// General
.nav-bar {
  background-color: #88CCFB;
  height: 4.6em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-bar-inner {
  table-layout: fixed;
  width: 100%;
}

.nav-bar-inner td {
  height: 4.5em;
  text-align: center;
}

// Top
.top-nav {
  border-bottom: 1px solid white;
  top: 0px;
}

.top-nav-inner td:nth-child(2) {
  border-left: 1px solid white;
}

// Bottom
.bottom-nav {
  border-top: 1px solid white;
  bottom: 0px;
}

.bottom-nav-inner td:nth-child(3), .bottom-nav-inner td:nth-child(2) {
  border-left: 1px solid white;
}

// Icon and flash stylings
.nav-bar-inner td a i, .flash-message {
  color: white;
  line-height: 4.5em;
  vertical-align: center; 
}