<div class="userBudgetForm">
  <h2>Edit Month Budget</h2>
  <%= form_for [@user, @month_budget] do |form| %>
    <p><%= form.text_field :target_amount %></p>
    <p><%= form.submit "Change Budget" %></p>
  <% end %>
</div>