<h1>MonthBudgets#new</h1>
<p>Find me in app/views/month_budgets/new.html.erb</p>

<div class="newBudgetForm">
  <%= form_for [@user, MonthBudget.new] do |form|  %>
    <p><%= form.text_field :target_amount %></p>
    <p><%= form.submit "Create Budget" %></p>
  <% end %>
</div>
