<table class="nav-bar-inner top-nav-inner">
<tr>
  <td><%= new_expenditure_if_logged_in %></td>
  
  <% if flash[:notice] %>
  <td colspan="2" class="flash-div">
  <% flash.each do |key, value| %>
      <%= content_tag :h4, value, class: 'flash-message' %>
  <% end %>
  </td>
  <% end %>
</tr>
</table>