<div class="about-info">
  <p><strong>Easy Budget</strong> is a web app that focuses upon getting users to pay more attention to their spending. By setting weekly and monthly budgeting goals and inputing expenditures every time you pay for something, Simple Budget will help you stay on top of your day to day spending. Your expenditures aren't automated, forcing you to take the time and realize once more the amount you are paying for any good or service. Hooray fiscal responsibility!</p>
</div>