/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
a {
  text-decoration: none;
}

.nav-bar {
  background-color: red;
  height: 10%;
  position: fixed;
  width: 100%;
}

.top-nav {
  top: 0px;
}

.bottom-nav {
  bottom: 0px;
}

.nav-bar div {
  display:inline;
  height: 80%;
}

.bottom-nav :first-child {
  padding-left: 10%
}