<div class="user-show-budget-summary">
  <p>$<%= '%.2f' % @week_budget.current_amount %><span> spent of </span>$<%= '%.2f' % @week_budget.target_amount %> <span><%= percent_of_budget_spent(@week_budget) %></span></p>
</div>