<div class="budget-new">
  <h2>Create Week Budget</h2>
  <%= form_for [@user, WeekBudget.new] do |form| %>
    <div class="form-field">
      <%= form.text_field :target_amount %><br><span>Target Budget Amount</span>
    </div>
    <%= form.submit "Create Budget" %>
  <% end %>
</div>