<div class="budgetNew">
  <h2>Create Week Budget</h2>
  <div class="budgetNewForm">
    <%= form_for [@user, WeekBudget.new] do |form| %>
      <div class="formField">
        <p><%= form.text_field :target_amount %><br><span>Target Budget Amount</span></p>
      </div>
      <p><%= form.submit "Create Budget" %></p>
    <% end %>
  </div>
</div>