<div class="budgetShow">
  <p>$<%= @week_budget.current_amount %></p>
  <p>$<%= @week_budget.target_amount %></p>

  <div class="budgetExpenditures">
    <%= show_expenditures(@week_budget) %>
  </div>
</div>